/*-------------GERAL--------*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Raleway:wght@100&display=swap');

h1, h2{
	font-family: Poppins;
	font-weight: 700;
}

body{
	color: #00252e;
	font-family: Open Sans;
	font-weight: 400;
	width: 100%;
}

button{
	border: 1px solid #ff52bf;
	border-radius: 50px;
	color: white;
	background: white;
	width: 25%;
	background: #ff52bf;
}

button:hover{
	border: 1px solid #ff8fd8;
	background-color: #ff8fd8;
	cursor: pointer;
}

.containers{
	margin-left: 6.5%;
}

/*------------COMEÇO--------*/
header{
	width: 100%;
}

header button{
	float: right;
	border: 1px solid #ff52bf;
	border-radius: 50px;
	color: 	#ff52bf;
	background: white;
	width: 12%;
	position: relative;
	right: 10%;
}

header button:hover{
	background: white;
	color: #ff8fd8;
	border: 1px solid #ff8fd8;
	box-shadow: 0px 0px 1px 0px #ff8fd8;
	opacity: 0.7;
}

header p {
	font-weight: 500;
}


/*---------PARTE1------------*/
.numerosImg{
	float: left;
}

.aumentaNumero{
	font-size: 70px;
	font-weight: 700;
}

#secao1{
	text-align: center;
}

#secao1 h1{
	font-size: 50px;
}

#img1{
	width: 75%;
}

#ajusteImg{
	position: relative;
	right: 70px;
}


/*-----------------PARTE2---------*/
.sombra{
	font-size: 18px;
	opacity: 0.5;
}

.ajuste{
	width: 90%;
}

#divisorTop1{
	background: url(images/bg-section-top-desktop-1.svg) no-repeat;
	height: 200px;
	background-size: 100%;
	position: relative;
	top: 47px;
}

#divisorBottom1{
	background: url(images/bg-section-bottom-desktop-1.svg) no-repeat;
	height: 200px;
	background-size: 100%;
	position: relative;
	bottom: 49px;
}

#secao2 #artigo1{
	background: #f5faff;
}

/*---------------PARTE4------------*/
#secao2 #artigo3{
	background: #f5faff;
}

#divisorTop2{
	background: url(images/bg-section-top-desktop-2.svg) no-repeat;
	height: 200px;
	background-size: 100%;
	position: relative;
	top: 105px;
}

#divisorBottom2{
	background: url(images/bg-section-bottom-desktop-2.svg) no-repeat;
	height: 200px;
	background-size: 100%;
	position: relative;
}

/*-------------PARTE5--------------*/
#artigo4{
	text-align: center;
}

/*--------------FINAL--------------*/
footer{
	background: #00252e;
	color: #f5faff;
	font-weight: 400;
}

footer button{
	border-radius: 5px;
	color: white;
	background: #ff52bf;
	border: 2px solid blue;
}

footer input{
	width: 58%;
	border-radius: 5px;
}

footer input:hover{
	border: 1px solid red;
	cursor: pointer;
}

i:hover{
	cursor: pointer;
	color: cyan;
}

#result{
	font-weight: 400;
}

#divisorTop3{
	background: url(images/bg-footer-top-desktop.svg) top no-repeat;
	height: 160px;
	background-size: 100%;
	position: relative;
	top: 20px;
}

#detalhe{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}


@media only screen and (max-width: 991px){
	button{
		width: 35%;
	}
}


@media only screen and (max-width: 958px){
	header button{
		width: 15%;
	}	
}

@media only screen and (max-width: 770px){
	header button{
		width: 20%;
	}

	button{
		width: 45%;
	}

	#btn{
		width: 20%;
	}
}

@media only screen and (max-width: 578px){
	header button{
		top: 50px;
		right: 50%;
		width: 25%;
	}

	button{
		width: 55%;
	}

	#btn{
		width: 25%;
	}
}

@media only screen and (max-width: 464px){
	header button{
		top: -100px;
		width: 30%;
	}

	button{
		width: 65%;
	}

	#btn{
		width: 30%;
	}
}


@media only screen and (max-width: 386px){
	header button{
		width: 35%;
		right: 30%;
	}

	button{
		width: 77%;
	}

	#btn{
		width: 35%;
	}

	footer input{
		width: 90%;
	}
}

@media only screen and (max-width: 332px){
	header button{
		width: 40%;
	}

	button{
		width: 87%;
	}

	#btn{
		width: 45%;
	}
}

@media only screen and (max-width: 293px){
	header button{
		width: 45%;
	}

	button{
		width: 100%;
	}

	#btn{
		width: 50%;
	}
}
